* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 2px 10px 2px 10px;
    padding: 0;
    list-style-position: inside;
}

li {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color:#ffffff;
    overscroll-behavior: contain;
}

button {
    background-color: transparent;
    border: none;
    width: 40%;
    grid-column: 6/-1;
    place-self: end;
}

button:focus {
    outline: none;
}

.GridBody {
    display: grid;
    grid-template-columns: 1fr;
}

#Tilbud{
    grid-colum:1/-1;
    display:grid;
    grid-template-columns:1fr 0.7fr;
}

.Overskrift{
    font-size:5vw;
    font-family: 'Be Vietnam';
    font-weight:lighter;
}

.Tekst{
    text-align:center;
    font-family:'Be Vietnam';
    font-weight:300;
    font-size:4vw;
}

.ActionButton{
    text-decoration:none;
    background-color:#C19765;
    color:white;
    padding:1% 0 1% 0;
}

.ActionButton:hover{
    background-color:#A88154;
}

#Tilbud .Tekst{
    grid-column:1/2;
    grid-row:1;
    align-self:center;
    margin-bottom:30%;
    width:90%;
    justify-self:center;
}

#Tilbud .Overskrift{
    text-align:center;
    padding-top:15%;
    grid-column:1/2;
    grid-row:1;
}

#Tilbud .ActionButton{
    grid-column:1/2;
    text-align:center;
    justify-self:center;
    width:60%;
    font-family:'Be Vietnam';
    font-size:6vw;
    grid-row:1;
    align-self:end;
    margin-bottom:30%;
}

#Tilbud img{
    width:60%;
    grid-column:2/3;
    justify-self:center;
}

@media screen and (min-width: 600px) {
    .GridBody {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .GridBody {
        grid-template-columns: 1fr 1fr 1fr;
    }
}